/* components */
/* ==================== */

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.btn {
  color: white;
  background-color: black;
  padding: 10px 25px;
  border-radius: 5px;
  margin-right: 20px;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  display: inline-block;
  cursor: pointer;
}


.btn-primary {
  background-color: var(--light-blue);
}

.btn-primary:hover {
  background-color: #1360a3;
}

.btn-secondary {
  background-color: var(--dark-grey);
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--section-spacing) / 1.5);
  text-align: center;
}

.description h2 {
  font-size: 32px;
}

.description img {
  margin: 10px 0;
}

.description p {
  font-size: 16px;
}
