#prices {
  padding: var(--section-spacing);
  background-color: #f6f6f6;
}

#prices .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
  justify-content: center;
  column-gap: 2rem;
  row-gap: 3rem;
}

#prices .content .item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 3rem 2rem;
  background-color: white;
  text-align: center;
}

#prices .content .item > i {
  font-size: 40px;
  color: var(--light-blue);
}

#prices .content .item h3 {
    font-size: 20px;
  font-weight: 600;
  margin: 1.5rem 0 0;
}

#prices .content .item > p {
  font-size: 30px;
  color: var(--light-blue);
  font-weight: 500;
}

#prices .content .item p span {
  color: var(--light-grey);
  font-size: 14px;
  font-weight: 300;
}

#prices .content .item ul li {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

#prices .content .item ul li i.fa-circle-check {
    color: var(--light-blue);
}
#prices .content .item ul li i.fa-circle-xmark {
    color: var(--light-grey);
}

#prices .content .item button {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border: none;
    margin-top: 2rem;
    letter-spacing: 0.1rem;
}




