/* setup */
/* ==================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;

  /* background-color: var(--bg-white); */
}

h1,
h2,
h3 {
  color: var(--dark-grey);
}

p {
  color: var(--light-grey);
  font-size: 14px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* variables */
/* ==================== */

:root {
  --light-blue: #1a7bd1;
  --dark-grey: #2c2d3f;
  --light-grey: #757575;
  --bg-white: #f6f6f6;
  --bg-newsletter: #e2eaff;
  --section-spacing: 5rem;
}
